psycopg2-binary
asyncpg
uvicorn[standard]
fastapi
pydantic
pydantic-settings
pydantic[email]
python-multipart
google-cloud-storage
google-generativeai
python-jose[cryptography]
passlib[bcrypt]
bcrypt
sqlalchemy
beautifulsoup4
requests
httpx